/* style2.css */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #e4e4e4;
}

.template-container {
    padding: 30px;
    margin: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: #fff;
}

#templateTitle {
    color: #FF5733;
}

#userImage {
    max-width: 120px;
    border-radius: 10px;
}
